<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include("./partials/head") %>
    <!-- /Head -->
    <head>
        <title>Register</title>
    </head>
    <body>
        <!-- Header -->
        <%- include("./partials/header") %>
        <!-- /Header -->
        <main class="container">
            <div class="row">
                <div class="box">
                <div class="offset-lg-2 col-lg-8 col-sm-6 col-12">
                    <form
                        action="/users/register"
                        method="POST"
                        enctype="multipart/form-data"
                        class="form-register"
                    >
                        <div class="form-group padding-top">
                            <label for="formGroupExampleInput">Nombre</label>

                            <input
                                type="text"
                                class="form-control"
                                name="name"
                                id="name"
                                <% if(typeof value != "undefined"){ %>
                                    value="<%= value.name %>" 
                                <% } %>     
                            />
                            <small id="emailHelp" class="form-text text-danger">
                                <% if (typeof errors != "undefined") { for(let
                                error of errors){ if (error.param == "name") {
                                %> <%= error.msg %> <% }}} %>
                            </small>
                            <div class="name"></div>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Apellido</label>
                            <input
                                type="text"
                                class="form-control"
                                name="lastname"
                                id="lastname"
                                <% if(typeof value != "undefined"){ %>
                                    value="<%= value.lastname %>" 
                                <% } %> 
                            />

                            <small id="emailHelp" class="form-text text-danger">
                                <% if (typeof errors != "undefined") { 
                                    for(let error of errors) { 
                                        if (error.param == "lastname") {
                                %> 
                                <%= error.msg %> 
                                <% }}} %>
                            </small>
                            <div class="lastname"></div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input
                                type="email"
                                class="form-control"
                                name="email"
                                id="email"
                                aria-describedby="emailHelp"
                                <% if(typeof value != "undefined"){ %>
                                    value="<%= value.email %>" 
                                <% } %> 
                            />

                            <small id="emailHelp" class="form-text text-danger">
                                <% if (typeof errors != "undefined") { 
                                    for(let error of errors) { 
                                        if (error.param == "email") {
                                %> 
                                <%= error.msg %> 
                                <% }}} %>
                            </small>
                            <div class="email"></div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"
                                >Contraseña</label
                            >
                            <input
                                type="password"
                                class="form-control"
                                name="password"
                                id="password"
                            />
                            <small id="emailHelp" class="form-text text-danger">
                                <% if (typeof errors != "undefined") { for(let
                                error of errors){ if (error.param == "password")
                                { %> <%= error.msg %> <% }}} %>
                            </small>
                            <div class="password"></div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword2"
                                >Repetir contraseña</label
                            >
                            <input
                                type="password"
                                class="form-control"
                                name="rePassword"
                                id="rePassword"
                            />
                            <small id="emailHelp" class="form-text text-danger">
                                <% if (typeof errors != "undefined") { for(let
                                error of errors){ if (error.param ==
                                "rePassword") { %> <%= error.msg %> <% }}} %>
                            </small>
                            <div class="rePassword"></div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlFile1"
                                >Foto de perfil</label
                            >
                            <input
                                type="file"
                                class="form-control-file"
                                name="avatar"
                                id="avatar"
                            />
                            <div class="avatar-error"></div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Registrarse
                        </button>
                    </form>
                </div>
                </div>
            </div>
        </main>

        <%- include("./partials/footer") %>

        <!-- Scripts Bootstrap -->
        <%- include("./partials/scripts") %>
        <!-- /Scripts -->
        <script type="text/javascript" src="/js/validation-register.js" defer></script>

    </body>
</html>
